* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  font-size: 16px;
  font-family: "Arial", "Helvetica", sans-serif;
  background-color: #f8f8f8;
}


/* wrapper */

.wrapper {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
}

/* header */
  
header {
  padding: 20px;
  background-color: #e7eaef;
}
    
.header__wrapper {
  justify-content: space-evenly;
  align-items: center;
}
    
.logo-image {
  height: 150px; 
  width: 150px;
  border-radius: 50%;
}
    
.header__text_main {
  text-transform: uppercase;
  font-size: 36px;
  color: #3b576d;
}
    
.header__text {
  font-size: 20px;
  color: #3b576d;
}

.main{
  display: flex;
  width: 100%;
  flex-direction: row;
}

/* aside */
  
.sec-information {
  width: 30%;
  padding: 20px;
  margin: 20px 0;
  border-right: 2px solid #3b576d;
}

/* main */
  
.main-information {
  width: 70%;
  padding: 20px;
  margin: 20px;
}

.main_title {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}


/* content */

.article {
  margin-bottom: 20px;
}
  
.article_heading {
  font-size: 20px;
  color: #3b576d;
  border-bottom: 2px solid #3b576d;
  margin-bottom: 15px;
}
  
.article_heading-sec {
  font-size: 18px;
  color: #3b576d;
  border-bottom: 1px dotted #3b576d;
  margin: 10px 0;
}

.code-wrapper {
  border-top: 1px dotted #3b576d;
  border-bottom: 1px dotted #3b576d;
}
  
article ul {
  list-style-type: none;
}
  
article ul li{
  padding-bottom: 5px;
}
  
article ul li a{
  text-decoration: none;
  color: #3b576d
}
  
article ul li a:hover{
  color: #000000;
}

.video {
  max-width: 560px;
  width: 100%;
  height: 315px;
  border: none;
  outline: none;
}

/* footer */

.footer {
  padding: 20px;
  background-color: #e7eaef;
}

.footer__wrapper {
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.footer__text {
  margin-top: 15px;
  color: #000000;
}

.footer__link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #3b576d;
}
  
.footer__link:hover{
  color: #000000;
}

.footer__link-icon {
  height: 20px;
}

/* responsive styles */
  
@media (max-width: 830px) {
  
  body {
    font-size: 15px;
  }

}

@media (max-width: 768px) {

  body {
    font-size: 14px;
  }

  .logo-image {
    height: 125px; 
    width: 125px;
  }

  .header__text_main {
    font-size: 26px;
  }

  .header__text {
    font-size: 18px;
  }

  .main{
    width: 100%;
    flex-direction: column;
  }
      
  .sec-information {
    width: auto;
    margin: 20px 20px 0px 20px;
    padding: 20px 20px 0px 20px;
    border-right: none;
  }
      
  .main-information {
    width: auto;
    padding: 0px 20px 0px 20px;
    margin: 0px 20px 20px 20px;
  }

}

@media (max-width: 500px) {
  
  header {
    padding: 15px;
  }

  .header__text-section {
    display: block;
    width: 170px;
  }

  .sec-information {
    margin: 15px 15px 0px 15px;
    padding: 15px 15px 0px 15px;
  }
      
  .main-information {
    padding: 0px 15px 0px 15px;
    margin: 0px 15px 15px 15px;
  }

}

@media (max-width: 400px) {

  .logo-image {
    height: 100px; 
    width: 100px;
  }

  .header__text_main {
    font-size: 20px;
  }

  .header__text {
    font-size: 14px;
  }

  .header__text-section {
    width: 130px;
  }

  .sec-information {
    margin: 10px 10px 0px 10px;
    padding: 10px 10px 0px 10px;
  }
      
  .main-information {
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 10px 10px;
  }

}